/presentation.aux
/presentation.bbl
/presentation.bcf
/presentation.blg
/presentation.log
/presentation.nav
/presentation.out
/presentation.pdf
/presentation.run.xml
/presentation.snm
/presentation.synctex.gz
/presentation.toc
.vscode/settings.json
thesis.synctex(busy)

